<article id="<%= dom_id bookmark %>" class="h-entry post_list__item">
  <div>
    <p class="u-bookmark-of h-cite">
      Bookmarked:
      <strong>
        <%= link_to bookmark.title, bookmark.url %>
      </strong>

      <% if bookmark.authors.any? %>
        from
        <% bookmark.authors.each do |author| %>
          <%= link_to author.name, author.url, class: "h-card p-author" %>
          <span class="list_joiner">&</span>
        <% end %>
      <% end %>
    </p>

    <% unless bookmark.summary.nil? || bookmark.summary.empty? %>
      <div class="e-content"><%= bookmark.summary %></div>
    <% end %>

    <footer class="post__meta">
      <%= link_to bookmark, rel: "bookmark" do %>
        <time datetime="<%= bookmark.created_at.iso8601 %>">
          <%= bookmark.created_at.localtime.strftime("%Y-%m-%d %H:%M:%S") %>
        </time>
      <% end %>

      <span class="hidden">
        <%= link_to t("general.author-full"), root_url, class: "p-author h-card u-url" %>
      </span>

      <% unless bookmark.tags.empty? %>
        <br />
        <span itemprop="tags">
          Tags:
          <%= render bookmark.tags %>
        </span>
      <% end %>
    </footer>
  </div>
</article>
