<h1><%= set_title t("bookmarks.editing") %></h1>

<%= render "entries/form", entry: @entry %>

<br>

<div>
  <%= link_to "Show this bookmark", @entry.bookmark %> |
  <%= link_to "Back to bookmarks", bookmarks_path %>

  <%= button_to "Destroy this bookmark", @entry.bookmark, class: "btn btn-danger", data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
</div>
