<div class="h-card">
  <h1>
    Hi, I'm
    <span class="p-name"><%= t("general.author-full") %></span>!
  </h1>

  <%= image_tag gravatar_url(200), alt: "me", height: 200, width: 200, class: "u-photo me_pic", hidden: true %>

  <%= link_to "", root_url, class: "u-url hidden", rel: "me" %>

  <p class="p-note">
    I'm a hobby web-developer with a focus in the frontend.
    But recently my interest in the backend was sparked.
    <br />
    So <%= link_to "this blog", "https://github.com/Terreii/indieweb-blog", rel: "noopener noreferrer" %>
    is written in <em>Ruby on Rails</em> and hosted on a Linux server managed by me.
  </p>

  <p class="p-note">
    You can find my projects
    <%= link_to "on Github", "https://github.com/Terreii/", rel: "noopener noreferrer" %>
    or in
    <%= link_to "my portfolio", portfolio_path %>.
  </p>
</div>
