<nav class="header_layout">
  <div id="header__title">
    <%= link_to t('general.title'), root_path, class: 'c-site-title header__home' %>
  </div>
  <div id="header__nav">
    <span class="sr-only">
      <%= link_to t('general.home'), root_path, class: 'nav__link' %>
    </span>
    <span class="nav__item">
      <%= link_to t('posts.title'), posts_path, class: 'nav__link' %>
    </span>
    <span class="nav__item">
      <%= link_to t('bookmarks.title'), bookmarks_path, class: 'nav__link' %>
    </span>
    <span class="nav__item">
      <%= link_to t('general.portfolio'), '/portfolio', class: 'nav__link' %>
    </span>
    <span class="nav__item">
      <%= link_to 'usePouchDB', 'https://terreii.github.io/use-pouchdb', class: 'nav__link' %>
    </span>
    <span class="nav__item">
      <%= link_to t('general.impressum'), '/impressum', class: 'nav__link' %>
    </span>
    <%= yield %>
  </div>
</nav>
