<h1><%= set_title("#{t('tags.one')}: #{@tag.name}") %></h1>

<p>Everything tagged with <strong><%= @tag.name %></strong>.</p>

<h2>Posts</h2>

<ul>
  <% @tag.entries.posts.published.each do |entry| %>
    <li>
      <%= link_to "#{entry.published_at.to_date.to_s} - #{entry.title}", entry.entryable %>
    </li>
  <% end %>
</ul>

<h2>Bookmarks</h2>

<ul>
  <% @tag.entries.bookmarks.each do |entry| %>
    <li>
      <%= link_to "#{entry.created_at.to_date.to_s} - #{entry.title}", entry.entryable %>
    </li>
  <% end %>
</ul>

<%= link_to "Back to all tags", tags_path %>
