<%= form_with model: entry, url: entry.entryable, class: "form" do |form| %>
  <% if entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-input" %>
  </div>

  <%= form.fields_for :entryable do |entry_form| %>
    <div class="field">
      <%= entry_form.label :slug %>
      <%= entry_form.text_field :slug, pattern: "^[a-z0-9][a-z0-9\-_]+[a-z0-9]$", class: "form-input" %>
    </div>

    <div class="field">
      <%= entry_form.label :thumbnail %>
      <%= entry_form.file_field :thumbnail, class: "form-input" %>
    </div>

    <div class="field">
      <%= entry_form.label :summary %>
      <%= entry_form.text_area :summary, class: "form-input", maxlength: 200 %>
    </div>

    <div class="field">
      <%= entry_form.label :body %>
      <%= entry_form.rich_text_area :body %>
    </div>
  <% end %>

  <div class="checkbox_field">
    <%= form.check_box :published %>
    <%= form.label :published %>
  </div>

  <div class="actions">
    <%= form.submit nil, class: 'btn' %>
  </div>

  <%= render "tags/form", form: form, name: "post" %>
<% end %>

<br>

<div class="display-as-row gapped">
  <%= render "tags/create" %>
</div>
