<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :slug %>
    <%= form.text_field :slug, pattern: '^[a-z0-9][a-z0-9\-_]+[a-z0-9]$' %>
  </div>

  <div class="field">
    <%= form.label :published_at %>
    <%= form.datetime_local_field :published_at %>
  </div>

  <div class="display-as-row gapped">
    <div class="field">
      <%= form.label :tag_list %>
      <br />
      <%= form.select(
        :tag_list,
        @tags.collect { |tag| [ tag.name, tag.id, selected: @current_tags_ids.include?(tag.id) ] },
        {},
        multiple: true
      ) %>
    </div>

    <div class="field">
      <%= fields_for :new_tags do |tags_fields| %>
        <%= tags_fields.label :new_tags %>
        <br />
        <%= tags_fields.text_field :new_tags %>
      <% end %>
    </div>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.rich_text_area :body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
