<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :slug %>
    <%= form.text_field :slug, pattern: '^[a-z0-9][a-z0-9\-_]+[a-z0-9]$' %>
  </div>

  <div class="field">
    <%= form.label :published_at %>
    <%= form.datetime_local_field :published_at %>
  </div>

  <details>
    <summary>Tags</summary>

    <div class="display-as-row gapped">
      <div class="field flex-col">
        <%= form.collection_check_boxes :tag_ids, tags, :id, :name do |b|
          b.label { b.check_box + b.text }
        end %>
      </div>

      <div class="field">
        <%= label_tag :new_tags %>
        <br />
        <%= text_field_tag :new_tags %>
        <br />
        <small class="field_description">Separated by commas.</small>
      </div>
    </div>
  </details>

  <div class="field">
    <%= form.label :body %>
    <%= form.rich_text_area :body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
