<article id="<%= dom_id post %>" class="post_list__item h-entry">
  <% if post.thumbnail.present? %>
    <%= link_to post, class: "post_list__item_thumbnail" do %>
      <%= image_tag post.thumbnail.variant(resize_to_limit: [150, 150]), alt: "" %>
    <% end %>
  <% end %>

  <div>
    <h1><%= link_to post.title, post %></h1>
    <% unless post.summary.empty? %>
      <p>
        <% post.summary.each_line.each_with_index do |line, index| %>
          <% unless index == 0 %>
            <br>
          <% end %>
          <%= line %>
        <% end %>
      </p>
    <% else %>
      <%= post.body %>
    <% end %>

    <footer class="post__meta">
      <%= link_to post do %>
        <time datetime="<%= post.published_at.iso8601 %>">
          <%= post.published_at.localtime.strftime("%Y-%m-%d %H:%M:%S") %>
        </time>
      <% end %>

      <span class="hidden">
        <%= link_to t("general.author-full"), root_url, class: "p-author h-card u-url" %>
      </span>

      <% unless post.tags.empty? %>
        <br />
        <span itemprop="tags">
          Tags:
          <%= render post.tags %>
        </span>
      <% end %>
    </footer>
  </div>
</article>
