<h1><%= set_title(t('posts.editing')) %></h1>

<%= render 'entries/form', entry: @entry %>

<br>

<%= button_to "Destroy this post", @entry.post, method: :delete, class: "btn btn-danger", data: { turbo_confirm: 'Are you sure?' } %>

<br>

<%= link_to "Show this post", @entry.post %> |
<%= link_to "Back to posts", posts_path %>
