<h2><%= t('posts.editing') %></h2>

<%= render 'form', post: @post, tags: @tags %>

<%= link_to 'Destroy', @post, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>

<br />

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
