<% if logged_in? %>
  <h2>📝 <%= t('posts.drafts') %></h2>

  ➕ <%= link_to t('posts.create'), new_post_path %>
  <br>

  <ul class="drafts_list">
    <% @drafts.each do |draft| %>
      <li><%= link_to draft.title, edit_post_path(draft) %></li>
    <% end %>
  </ul>
<% end %>

<h2>📨 <%= t 'posts.latest' %></h2>

<% @posts.each do |post| %>
  <section class="post_list__item">
    <h3><%= link_to post.title, post %></h3>
    <%= post.body %>
  </section>
<% end %>
