<h1>📨 <%= set_title(t 'posts.latest') %></h1>

<% if logged_in? %>
  <h2>📝 <%= t('posts.drafts') %></h2>

  ➕ <%= link_to t('posts.create'), new_post_path %>
  <br>

  <ul class="drafts_list">
    <% @drafts.each do |draft| %>
      <li><%= link_to draft.title, edit_post_path(draft) %></li>
    <% end %>
  </ul>

  <h2>📤 <%= t("posts.published") %></h2>
<% end %>

<% @posts.each do |post| %>
  <%= render post %>
<% end %>
