<article class="h-entry" itemscope="" itemtype="http://schema.org/BlogPosting">
  <% set_meta_data(
    description: @entry.post.summary,
    thumbnail: @entry.post.thumbnail.present? ? @entry.post.thumbnail : nil,
    url: full_url_for(@entry.post)
  ) %>
  <h1 class="post__title p-name" itemprop="name headline" lang="<%= @entry.language_code %>"><%= set_title(@entry.title) %></h1>

  <p class="post__meta">
    <% if @entry.published? %>
      By <%= link_to root_url, class: "p-author h-card" do %>
        <%= image_tag gravatar_url(200), alt: "", height: 200, width: 200, class: "u-photo", hidden: true %>
        <%= t("general.author-full") %>
      <% end %> on
      <%= link_to(
        time_tag(@entry.published_at, @entry.published_at.to_date.to_s,
          class: "dt-published",
          itemprop: "dateCreated pubdate datePublished"
        ),
        post_url(@entry.post),
        class: "u-url"
      ) %>
    <% end %>

    <% if logged_in? %>
      <%= link_to 'Edit', edit_post_path(@entry.post), class: 'post__edit-link' %>
    <% end %>

    <br />
    <span itemprop="tags" class="p-category list_joiner">
      <%= t "general.lang.inline" %>:
      <%= @entry.language %>
    </span>

    <% unless @entry.tags.empty? %>
      <br />
      <span itemprop="tags">
        Tags:
        <%= render @entry.tags %>
      </span>
    <% end %>
  </p>

  <% if @entry.post.thumbnail.present? %>
    <div>
      <%= link_to @entry.post.thumbnail do %>
        <%= image_tag @entry.post.thumbnail, id: "thumbnail", class: "post_thumbnail", alt: "" %>
      <% end %>
    </div>
  <% end %>

  <div class="e-content" itemprop="articleBody" lang="<%= @entry.language_code %>">
    <%= @entry.post.body %>
  </div>
</article>
