<article class="h-entry" itemscope="" itemtype="http://schema.org/BlogPosting">
  <h1 class="post__title p-name" itemprop="name headline"><%= set_title(@post.title) %></h1>

  <p class="post__meta">
    <% if @post.published? %>
      By <%= link_to t("general.author-full"), root_url, class: "p-author h-card" %> on
      <%= link_to(
        time_tag(@post.published_at, @post.published_at.to_date.to_s,
          class: "dt-published",
          itemprop: "dateCreated pubdate datePublished"
        ),
        post_url(@post),
        class: "u-url"
       ) %>
    <% end %>

    <% if logged_in? %>
      <%= link_to 'Edit', edit_post_path(@post), class: 'post__edit-link' %>
    <% end %>

    <% unless @post.tags.empty? %>
      <br />
      <span itemprop="tags">
        Tags:
        <% @post.tags.each do |tag| %>
          <%= link_to tag.name, tag, class: "p-category" %><% unless tag == @post.tags.last %>, <% end %>
        <% end %>
      </span>
    <% end %>
  </p>

  <div class="e-content" itemprop="articleBody">
    <%= @post.body %>
  </div>
</article>
