<article itemscope="" itemtype="http://schema.org/BlogPosting">
  <h2 class="post__title" itemprop="name headline"><%= @post.title %></h2>

  <p class="post__meta">
    <% if @post.published? %>
      <time datetime="<%= @post.published_at.iso8601 %>" itemprop="dateCreated pubdate datePublished">
        <%= @post.published_at.to_date.to_s %>
      </time>
    <% end %>

    <% if logged_in? %>
      <%= link_to 'Edit', edit_post_path(@post), class: 'post__edit-link' %>
    <% end %>
  </p>

  <div itemprop="articleBody">
    <%= @post.body %>
  </div>
</article>
