<%= form_with model: user_session, class: "form" do |form| %>
  <% if user_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_session.errors.count, "error") %> prohibited this user_session from being saved:</h2>

      <ul>
        <% user_session.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-input" %>
  </div>

  <div class="actions">
    <%= form.submit nil, class: 'btn' %>
  </div>
<% end %>
