<h1><%= set_title(t 'sessions.editing') %></h1>

<%= turbo_frame_tag frame_id(@user_session) do %>
  <div class="session_info session_info--form">
    <%= render 'form', user_session: @user_session %>

    <%= link_to 'Cancel', @user_session %>
  </div>
<% end %>

<%= link_to 'Back to all Sessions', user_sessions_path %>
