<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title><%= content_for?(:title) ? yield(:title) : t('general.title') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="icon" href="/favicon.png" type="image/png">
    <link type="application/atom+xml" rel="alternate" href="<%= feed_url format: :atom %>" title="<%= t('general.title') %>" />
    <meta property="og:title" content="<%= content_for?(:title) ? yield(:title) : t('general.title') %>">
    <meta property="og:type" content="article" />
    <% if content_for? :description %>
      <meta property="og:description" content="<%= yield(:description) %>">
    <% end %>
    <% if content_for? :thumbnail %>
      <meta property="og:image" content="<%= yield(:thumbnail) %>">
      <%= tag.meta property: "og:image:width", content: yield(:thumbnail_whith) unless content_for?(:thumbnail_whith).nil? %>
      <%= tag.meta property: "og:image:height", content: yield(:thumbnail_height) unless content_for?(:thumbnail_height).nil? %>
      <meta name="twitter:card" content="summary_large_image">
    <% end %>
    <% if content_for? :share_url %>
      <meta property="og:url" content="<%= yield(:share_url) %>">
    <% end %>
    <meta name="fediverse:creator" content="<%= Rails.configuration.x.accounts.dig :mastodon, :user %>">
    <meta name="twitter:creator" content="<%= Rails.configuration.x.accounts.dig :twitter, :user %>">
  </head>

  <body>
    <header class="header">
      <%= turbo_frame_tag "admin_nav", src: admin_nav_path, target: "_top" do %>
        <%= render "admin/nav/header" do %>
        <% end %>
      <% end %>
    </header>

    <main>
      <%= content_tag :p, notice, class: 'notice', data: { "turbo-cache": false } if notice.present? %>
      <%= content_tag :p, alert, class: 'alert', data: { "turbo-cache": false } if alert.present? %>

      <%= yield %>
    </main>

    <footer class="footer">
      <ul>
        <% Rails.configuration.x.accounts.each_value do |account| %>
          <li><%= account[:name] %>:
            <%= link_to account[:user], account[:profile], rel: 'me' %>
          </li>
        <% end %>
      </ul>
    </footer>
  </body>
</html>
