<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : t('general.title') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <% if load_scripts? %>
      <%= javascript_importmap_tags %>
    <% end %>
    <link type="application/atom+xml" rel="alternate" href="<%= feed_url format: :atom %>" title="<%= t('general.title') %>" />
    <meta property="og:title" content="<%= content_for?(:title) ? yield(:title) : t('general.title') %>">
    <meta property="og:type" content="article" />
    <% if content_for? :description %>
      <meta property="og:description" content="<%= yield(:description) %>">
    <% end %>
    <% if content_for? :thumbnail %>
      <meta property="og:image" content="<%= yield(:thumbnail) %>">
      <meta name="twitter:card" content="summary_large_image">
    <% end %>
    <% if content_for? :share_url %>
      <meta property="og:url" content="<%= yield(:share_url) %>">
    <% end %>
  </head>

  <body>
    <header class="header">
      <nav class="header_layout">
        <div id="header__title">
          <%= link_to t('general.title'), root_path, class: 'c-site-title header__home' %>
        </div>
        <div id="header__nav">
          <span class="sr-only">
            <%= link_to t('general.home'), root_path, class: 'nav__link' %>
          </span>
          <span class="nav__item">
            <%= link_to t('posts.title'), posts_path, class: 'nav__link' %>
          </span>
          <span class="nav__item">
            <%= link_to t('bookmarks.title'), bookmarks_path, class: 'nav__link' %>
          </span>
          <span class="nav__item">
            <%= link_to t('general.portfolio'), '/portfolio', class: 'nav__link' %>
          </span>
          <span class="nav__item">
            <%= link_to 'usePouchDB', 'https://terreii.github.io/use-pouchdb', class: 'nav__link' %>
          </span>
          <span class="nav__item">
            <%= link_to t('general.impressum'), '/impressum', class: 'nav__link' %>
          </span>
          <% if logged_in? %>
            <span class="nav__item">
              <%= link_to t('sessions.sessions'), user_sessions_path, class: 'nav__link' %>
            </span>
            <span class="nav__item">
              <%= link_to t('sessions.logout'), logout_path, class: 'nav__link' %>
            </span>
          <% end %>
        </div>
      </nav>
    </header>

    <main>
      <%= content_tag :p, notice, class: 'notice', data: { "turbo-cache": false } if notice.present? %>
      <%= content_tag :p, alert, class: 'alert', data: { "turbo-cache": false } if alert.present? %>

      <%= yield %>
    </main>

    <footer class="footer">
      <ul>
        <% Rails.configuration.x.accounts.each do |domain, user| %>
          <li><%= domain.to_s.split('.').first.capitalize %>:
            <%= link_to '@' + user, "https://#{domain}/#{user}", rel: 'me' %>
          </li>
        <% end %>
      </ul>
    </footer>
  </body>
</html>
